/*I am writing CSS in line with Tailwind CSS properties.*/

h1 {
    font-weight: bold;
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

h2 {
    font-weight: bold;
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}

h3 {
    font-weight: bold;
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
}

h4 {
    font-weight: bold;
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
}

h5 {
    font-weight: bold;
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
}

h6 {
    font-weight: bold;
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
}

img {
    padding: 0.625rem;
    width: 75%;
}
p {
    padding: 0.625rem
}

a {
    color:  #2563EB;
}

a:active{
    color : #26a69a;
}


a:hover{
    color : #ff7043;
}

ul {
    padding-left: 0.625rem;
    list-style-type: disc;
}



